.footer__column-link {
    display: flex;
    flex-direction: row;
    align-items: center;
   color: #fff;
   transition: opacity ease 0.4s;
   text-decoration: none;
  }
  .footer__column-link:hover {
    opacity: 0.6;
  
  }