.header__title{
    display: flex;
    align-items: center;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    margin:0 0 0 64px;
    width: 730px;
    z-index: 3;
    text-decoration: none;
    color: #000000;
    padding: 0;
  }