.khan__buy-link {
    vertical-align: top;
    line-height: 42px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #2f80ed;
    transition: opacity ease 0.4s;
  }
  
  .khan__buy-link:hover {
    opacity: 0.6;
  }